{
  "parser": "@typescript-eslint/parser",
  "plugins": ["typescript-eslint", "prettier"],
  "rules": {},
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "prettier"
  ]
}
